<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/tacos" method="POST">
    <input type="text" name="title">
    <input type="checkbox" name="tasty">
    <button type="submit">Add Taco</button>
  </form>
  <% tacos.forEach(taco => { %>
    <li> <a href="/tacos/<%= taco._id %>"><%=taco.title%></a>  (Tasty?: <%= taco.tasty? 'yes' : 'no' %>) </li>
    <form action="/tacos/<%= taco._id %>?_method=DELETE" method="POST">
    <button type="submit">X</button></form>
  <% }) %>

</body>
</html>
